input {
  border: none;
}

img {
  width: 34%;
}

.background-color {
  background-color: #222729;
  background-image: url('../assets/textura.png');
}

.background-login {
  border-radius: 0.5rem;
  padding: 5rem;
}

.emailIcon , .passwordIcon {
  color: #13293d;
  float: left;
  font-size: 2rem;
  margin-left: -2.5rem;
  z-index: 100;
}

.glass {
  backdrop-filter: blur(13.5px);
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
