.header-table {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.background-color {
  background-color: #222729;
  background-image: url('../assets/textura.png');
}


/* stylelint-disable-next-line selector-no-qualifying-type */
table.table {

  --bs-table-color: white;

  --bs-table-bg: #222729;
}

table {
  border-collapse: collapse;
  padding-top: 20px;
  width: 100%;
}

thead tr th , tbody tr td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  width: 100%;
}

table tbody tr td {
  color: #f8f9fa;
}

table thead th {
  border-bottom: 2px solid #007bff;
  border-collapse: collapse;
  border-top: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}

td button {
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

td button:hover {
  background-color: #c82333;
}


@media ( max-width : 767px ) {

  .table-responsive {
    overflow-x: auto;
  }

  .table-responsive table {
    display: table;
    max-width: 100%;
    width: 100%;
  }

  select {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
